/* Your board style here */
.racer_table td {
  height: 40px;
  width: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: grey;
  border-top: 4px, grey;
  border-bottom: 4px, grey;
  border-left: 1px;
  border-right: 1px;
}
.racer_table td.active {
  background-repeat: no-repeat;
  background-size: 100%;
}
#player1_race td.active {
  background-image: url("images/player_1.png");
/*  opacity: 0.5;*/
}
#player2_race td.active {
  background-image: url("images/player_2.png");
/*  opacity: 0.5;*/
}

img {
  width: 40px;
}

td.active img {
  opacity: 0.8;
}

.btn-treehouse {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #6AD58B;
  transition: background 0.3s ease;
}
.btn-treehouse:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

.text-center {
  text-align: center;
}

